### class(day-19:15-6-20)
##### Import the Libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import sklearn

### Import the Dataset

In [2]:
data = pd.read_table("http://bit.ly/movieusers",sep="|",header = None)
data.head()

   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

### Handling the Missing Values

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Mounika-Kajjam/Datasets/master/weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [4]:
df.day.dtype

dtype('O')

In [5]:
type(df.day[0])

str

In [6]:
df['temperature'].value_counts()

-99999    2
 32       2
 31       1
 28       1
 34       1
Name: temperature, dtype: int64

In [7]:
# checking for duplicate values
df[df.duplicated()]

Empty DataFrame
Columns: [day, temperature, windspeed, event]
Index: []

In [8]:

df[df['event'].duplicated()]

        day  temperature  windspeed  event
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [9]:

df = pd.read_csv("https://raw.githubusercontent.com/Mounika-Kajjam/Datasets/master/weather_data.csv",parse_dates =['day'])
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02       -99999          7  Sunny
2 2017-01-03           28     -99999   Snow
3 2017-01-04       -99999          7      0
4 2017-01-05           32     -99999   Rain
5 2017-01-06           31          2  Sunny
6 2017-01-06           34          5      0

In [10]:
new_df = df.replace({'temperature': -99999,'windspeed': -99999,'event':'0'},np.nan)
new_df

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-02          NaN        7.0  Sunny
2 2017-01-03         28.0        NaN   Snow
3 2017-01-04          NaN        7.0    NaN
4 2017-01-05         32.0        NaN   Rain
5 2017-01-06         31.0        2.0  Sunny
6 2017-01-06         34.0        5.0    NaN

### Imputation : Imputation is a process of substituting the missing values

In [11]:
new_df.isnull().sum()

day            0
temperature    2
windspeed      2
event          2
dtype: int64

In [12]:
# forwardfill
f_df = new_df.fillna(method='ffill')
f_df

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-02         32.0        7.0  Sunny
2 2017-01-03         28.0        7.0   Snow
3 2017-01-04         28.0        7.0   Snow
4 2017-01-05         32.0        7.0   Rain
5 2017-01-06         31.0        2.0  Sunny
6 2017-01-06         34.0        5.0  Sunny

In [13]:
## bfill-- back fill
b_data = new_df.fillna(method='bfill')
b_data

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-02         28.0        7.0  Sunny
2 2017-01-03         28.0        7.0   Snow
3 2017-01-04         32.0        7.0   Rain
4 2017-01-05         32.0        2.0   Rain
5 2017-01-06         31.0        2.0  Sunny
6 2017-01-06         34.0        5.0    NaN

In [14]:
#median imputation
mean_df = new_df.fillna(new_df.mean()) 
mean_df

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-02         31.4        7.0  Sunny
2 2017-01-03         28.0        5.4   Snow
3 2017-01-04         31.4        7.0    NaN
4 2017-01-05         32.0        5.4   Rain
5 2017-01-06         31.0        2.0  Sunny
6 2017-01-06         34.0        5.0    NaN

In [15]:
new_df['event'] = new_df['event'].fillna(new_df.event.mode().iloc[0])
new_df

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-02          NaN        7.0  Sunny
2 2017-01-03         28.0        NaN   Snow
3 2017-01-04          NaN        7.0   Rain
4 2017-01-05         32.0        NaN   Rain
5 2017-01-06         31.0        2.0  Sunny
6 2017-01-06         34.0        5.0   Rain

### PROBLEM SOLVING

###### Q : Magic Square:
            19    7    19    93
            94    18    4    22
            5    21    95    17
            20    92    20    6


    sum of columns is 138
    sum of rows is 138
    sum of both forward and backward diagonal elements sum is 138
    sum of middle square is 138
    sum of all 4 squares sum is 138
    sum of corner elements sum is 138

In [16]:

import numpy as np
arr1 = np.array([[19,7,19,93],
                [94,18,4,22],
                [5,21,95,17],
                [20,92,20,6]])

In [17]:
#sum of columns is 138
arr1.sum(axis=1)

array([138, 138, 138, 138])

In [18]:

#sum of rows is 138
arr1.sum(axis=0)

array([138, 138, 138, 138])

In [19]:

#sum of middle square is 138
s = 0
for i in range(1,3):
    for j in range(1,3):
            s += arr1[i,j]
s

138

In [20]:

#sum of first square elements
print(arr1[0,0]+arr1[0,1]+arr1[1,0]+arr1[1,1])
s = 0
for i in range(2):
    for j in range(2):
        s += arr1[i,j]
print(s)

138
138

In [21]:
f = 0
b = 0
for i in range(4):
    for j in range(4):
        if i==j:
            f += arr1[i,j]
        if i+j == 3:
            b += arr1[i,j]
print(f)
print(b)

138
138

In [22]:

#sum of corner elements sum is 138
arr1[0,0]+arr1[0,3]+arr1[3,0]+arr1[3,3]

138

In [23]:

#sum of both forward and backward diagonal elements sum is 138
arr1.trace(axis1=1)

ValueError: axis1 and axis2 cannot be the same